{% extends 'shared/Main_Layout.html' %}
{% load static %}
{% block title %} | contact_us{% endblock %}
{% block content %}
    {% include 'contact_us/success_message.html' %}
    <div id="contact-page" class="container">
        <div class="bg">
            <div class="row">
                <div class="container">
                    <div class="col-sm-12" style="overflow: hidden; margin-bottom: 40px">
                        <h2 class="title text-center">تمـاس با مـا</h2>
                        <div id="gmap" class="contact-map">
                            <a target="_blank" href="https://www.google.com/maps/place/Tehran+Province,+Tehran,+Shahran+2nd+Square,+Iran/@35.7730434,51.2951588,225m/data=!3m1!1e3!4m5!3m4!1s0x3f8de334656676d1:0xd1447346cf75cd39!8m2!3d35.7655698!4d51.2886046">
                                <img style="width: 100%;" src="{% static 'erfan/googlemap.png' %}" alt="Map">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="contact-form">
                        <h2 class="title text-center">با ما در ارتباط باشیـد</h2>
                        <div class="status alert alert-success" style="display: none"></div>
                        <form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                            {% csrf_token %}
                            <div class="form-group col-md-6">
                                <label for="{{ contact_form.email.id_for_label }}">{{ contact_form.email.label }}</label>
                                {{ contact_form.email }}
                                {% for error in contact_form.email.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="{{ contact_form.full_name.id_for_label }}">{{ contact_form.full_name.label }}</label>
                                {{ contact_form.full_name }}
                                {% for error in contact_form.full_name.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group col-md-12">
                                <label for="{{ contact_form.subject.id_for_label }}">{{ contact_form.subject.label }}</label>
                                {{ contact_form.subject }}
                                {% for error in contact_form.subject.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group col-md-12">
                                  <label for="{{ contact_form.text.id_for_label }}">{{ contact_form.text.label }}</label>
                                {{ contact_form.text }}
                            </div>
                            <div class="form-group col-md-12">
                                <input type="submit" name="submit" class="btn btn-primary pull-right" value="ارسـال">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact-info">
                        <h2 class="title text-center">اطلاعات تماس</h2>
                        <address>
                            <p>{{ setting.title }}</p>
                            <p> آدرس : {{ setting.address }}</p>
                            <p>{{ setting.mobile }}</p>
                            <p style="font-family: tahoma;">ایمیـل : {{ setting.email }}</p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}