{% extends 'shared/Main_Layout.html' %}
{% load static %}
{% block content %}
    <div id="contact-page" class="container">
        <div class="bg">

            <div class="row">
                <div class="col-sm-4">
                    <div class="contact-info">
                        <h2 class="title text-center">لوگـو شرکت</h2>
                        <img height="200px" width="300px" src="{{ contents.logo_image.url }}" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="about">
                        <h2 class="title text-center">دربـاره ما</h2>
                        <p class="about-desc">
                            {{ contents.about_us | linebreaksbr }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 about-address">
                    <address>
                        <p>{{ contents.title }} | آدرس : {{ contents.address }} -
                            | تلفن تماس : {{ contents.phone }} | ایمیـل : {{ contents.email }}
                        </p>
                    </address>
                </div>
            </div>

            <div class="row">
                <div class="container">
                    <div class="col-sm-12" style="overflow: hidden; margin-bottom: 40px"><h2 class="title text-center">
                        مـا
                        اینجـا هستیـم ... </h2>
                        <div id="gmap" class="contact-map">
                            <a target="_blank" href="https://www.google.com/maps/place/Tehran+Province,+Tehran,+Shahran+2nd+Square,+Iran/@35.7730434,51.2951588,225m/data=!3m1!1e3!4m5!3m4!1s0x3f8de334656676d1:0xd1447346cf75cd39!8m2!3d35.7655698!4d51.2886046">
                                <img style="width: 100%;" src="{% static 'erfan/googlemap.png' %}" alt="Map">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}